/* Navbar */
.navbar {
  background-color: #004080;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 12px 24px;
  align-items: center;
}
.logo {
  font-weight: bold;
  font-size: 20px;
}
.nav-links a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}
.nav-links a.active {
  text-decoration: underline;
}
